<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>

<body>

    <body>
        <form action="/register" method='post'>
            <input type="text" name='first_name' placeholder="Enter First" required>
            <input type="text" name='last_name' placeholder="Enter Last" required>
            <input type="text" name='Userid' placeholder="Enter Username" required>
            <input type="email" name='Email' placeholder="Enter Email" required>
            <input type="number" name='Mobile' placeholder="Enter mobile number" required>
            <input type="password" name='Password' placeholder="Enter password" required>
            <input type="password" name='Confirm_Password' placeholder="Enter Confirm password" required>
            <select name="userType" id="userType" required>
                <option value=0>Agent</option>
                <option value=1>Finance</option>
                <option value=3>Other</option>
              </select>
            <a href="login">Already have an account?</a>
            <button type="submit">Register</button>
        </form>
    </body>
</body>

</html>